[submodule "submodules/nrf52840-mdk-usb-dongle"]
	path = submodules/nrf52840-mdk-usb-dongle
	url = git@github.com:makerdiary/nrf52840-mdk-usb-dongle.git
[submodule "submodules/tools"]
	path = submodules/tools
	url = git@github.com:Martin819/BreezeTools.git
